<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bceae8f705.js" crossorigin="anonymous"></script>

    <link rel='stylesheet' href="{% static 'css/notes.css' %}">
    <link rel='stylesheet' href="{% static 'css/dropdown.css' %}">

    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/sort.js' %}"></script>

</head>

<body>
    <div style="font-size:40px; color: #ff6600;">{{request.user}}</div>
    <span class="logout"><a href="{% url 'logout' %}">Logout</a></span>
    <br>

    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class = "row">
                  <a class="navbar-brand" href="{% url 'notes' %}"><strong>My NoteBook</strong></a>
                </div>
            </div>
        </nav>

        <div class="light bg-light" id="customNav">
            <div id="formContainer">
                <form action="{% url 'search' %}" method="post" autocomplete="on">
                    {% csrf_token %}
                    <input type="text" name="search" class="form-control" id="searchBar" placeholder="Search" required>
                    <button type="submit" class="btn btn-primary" id="submitBtn"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <a href="{% url 'new' %}">
                <button type="button" class="btn btn-primary" id="addBtn"><i class="fas fa-plus"></i></button>
            </a>

            <!--Filter dropdown-->
            <div class="dropdown">
                <button class="btn btn-primary dropbtn" onclick="filterNotes()">Filter</button>
                <div id="noteFilter" class="dropdown-content">
                    <form action="{% url 'date' %}" method="POST">
                        {% csrf_token %}
                        <a href="">Date {{ dateform.date_filed }}</a>
                        <input type="submit" class="btn btn-primary" value="Apply date">
                    </form>
                    <br>
                    <form action="{% url 'category' %}" method="POST">
                        {% csrf_token %}
                        <a>Category {{ categoryform.category }} </a>
                        <input type="submit" class="btn btn-primary" value="Apply category">
                    </form>

                    <br>
                    <a href="{% url 'favorites' %}">Favorite</a>
                </div>
            </div>
            </form>
            <!--Filter dropdown-->

            <!--Sort dropdown-->
            <div class="dropdown">
                 {% csrf_token %}
                <button class="btn btn-primary dropbtn" onclick="sortNotes()">Sort</button>
                <div id="noteSort" class="dropdown-content">
                    <a href="{% url 'sort-date' %}">Date</a>
                    <a href="{% url 'sort-category' %}">Category</a>
                    <a href="{% url 'sort-favorite' %}">Favorite</a>
                </div>
            </div>
            <!--Sort dropdown-->
        </div>
        {% block content %}
        <!-- Notes row -->
        {% endblock %}
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
