{% extends "base.html" %}

{% block content %}
{% load static %}
<ol class="list-group">
    {% for note in notes %}
    <a href=" {% url 'note' note.id %} ">
    <li class="list-group-item">
        <div class="noteContainer">
            <div id="headingAndIconsContainer">
                <div class="">
                    {% if note.favorite %}
                    <h4><img style="max-width: 4%;  height: auto;" src="{% static 'img/favorite.png' %}"> <strong>{{note.heading}}</strong></h4>
                    {% else %}
                    <h4><strong>{{note.heading}}</strong></h4>
                    {% endif %}
                </div>
                <div id="icons">
                    <a href=" {% url 'note' note.id %}">
                        <span class="span"> <button class="btn btn-primary icons"><i
                                class="fas fa-pen"></i></button></span>
                    </a>
                    <a href="{% url 'delete' note.id %}">
                        <span class="span"> <button class="btn btn-danger icons"><i
                            class="fas fa-trash-alt"></i></button></span>
                    </a>
                </div>
            </div>
            <div id="notes">
                <p>{{note.content | truncatechars:"100"}}</p>
            </div>
            <p style="float: right; font-size: 12px"><strong>{{note.time}}</strong></p>
        </div>
    </li>
    </a>
    {% endfor %}
</ol>

{% endblock %}