{% extends "base.html" %}
{% block content %}

<div id="updateForm">
    <form method = "POST">
        {% csrf_token %}
        <br>
            <label class="form-label"><strong>UUID:</strong></label>
            {{form.uuid}}
        <br>
            <label  class="form-label"><strong>Category:</strong></label>
            {{form.category}}
        <br>
            <label  class="form-label"><strong>Favorite:</strong></label>
            {{form.favorite}}
        <br>
            <label class="form-label"><strong>Title:</strong></label>
            {{form.heading}}
        <br>
            <label class="form-label"><strong>Notes:</strong></label>
            {{form.content}}
        <br>
            <input class="btn btn-primary" type="submit" style = "width: 100%" value = "Save">
        <br><br>
            <a href=" {% url 'notes' %} ">
                <input class="btn btn-primary" type="button" style = "width: 100%" value = "Cancel">
            </a>
    </form>

</div>
{% endblock %}