*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.container{
    padding: 0px !important;
    height: 650px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
    padding-bottom: 1rem !important;
}

li{
    border: 1px solid rgba(0,0,0,.125) !important;
    padding-bottom: 0px;
    height: auto !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
#add{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
#customNav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 550px ;
}
#formContainer{
    position: relative;
    width: 400px;
}
#submitBtn{
    position: absolute;
    right: 5px;
    top: 0px;
}

#filterBtn{
    position: absolute;
    left: 5px;
    top: 0px;
}

.fas{
    cursor: pointer;
}

.icons{
    width: auto;
    padding: 5px;
}

#headingAndIconsContainer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    width: 100%;
    border: 2px solid black;
}
#updateForm{
    width: 90%;
}

#hello-msg{
    font-size:40px;
    color: #ff6600;
}

