<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
    <link href="../static/css/reg.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>Login</h1>
    <!-- Body of Form starts -->
  	<div class="container">
      <form method="post" autocomplete="on">
          {% csrf_token %}

          <!--Username-->
          <div class="box">
              <label class="fl fontLabel"> Username: </label>
              <div class="new iconBox">
                  <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div class="fr">
                  <input type="text" class="textBox" name="username">
<!--                  {{ form.username }}-->
              </div>
              <div class="clr"></div>
          </div>
          <!--Username-->

          <!---Password------>
          <div class="box">
            <label class="fl fontLabel"> Password </label>
            <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
            <div class="fr">
                <input type="password" class="textBox" name="password">
<!--                {{ form.password }}-->
            </div>
            <div class="clr"></div>
          </div>
          <!---Password---->

          <!---Submit Button------>
          <div class="box" style="background: #2d3e3f">
              <input type="Submit" name="Login" class="submit" value="Login">
          </div>
          <!---Submit Button----->

          <!---Sign Up Link------>
          <br>
          <div class="link" style="background: #2d3e3f">Don't have an account?
              <a href="{% url 'reg'%}">Sign Up</a>
          </div>
          <!---Sign Up Link----->
      </form>
        <!--Success messages----->
        <br><br>
        {% for message in messages %}
        <p class="message"  id="messages">{{ message }}</p>
        {% endfor %}
        <!---Success messages------>
  </div>
  <!--Body of Form ends--->
  </body>
</html>
