<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
    <link href="../static/css/reg.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>Registration</h1>
    <!-- Body of Form starts -->
  	<div class="container">
      <form method="post" autocomplete="on">
          {% csrf_token %}

          <!--Username-->
          <div class="box">
              <label class="fl fontLabel"> Username: </label>
              <div class="new iconBox">
                  <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div class="fr">
                  {{ form.username }}
              </div>
              <div class="clr"></div>
          </div>
          <!--Username-->

          <!---Email ID---->
          <div class="box">
              <label class="fl fontLabel"> Email address: </label>
              <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <div class="fr">
                  {{ form.email }}
                </div>
              <div class="clr"></div>
          </div>
          <!--Email ID----->

          <!---Password1------>
          <div class="box">
              <label class="fl fontLabel"> Password </label>
              <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
              <div class="fr">
                  {{ form.password1 }}
              </div>
              <div class="clr"></div>
          </div>
          <!---Password1---->

          <!---Password2------>
          <div class="box">
              <label class="fl fontLabel"> Password confirm </label>
              <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
              <div class="fr">
                  {{ form.password2 }}
              </div>
              <div class="clr"></div>
          </div>
          <!---Password2---->

          <!---Submit Button------>
          <div class="box" style="background: #2d3e3f">
              <input type="Submit" name="Create User" class="submit" value="Sign Up">
          </div>
          <!---Submit Button----->

          <!---Login Link------>
          <br>
          <div class="link" style="background: #2d3e3f">Already have an account?
              <a href="{% url 'login' %}">Login</a>
          </div>
          <!---Login Link----->
      </form>
        <!---Error messages------>
        <br><br>
        {{ form.errors }}
        <!---Error messages------>

    </div>
  </body>
</html>
